@font-face {
    font-family: 'kage';
    src: url('kage.otf');}

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');



 /* GENERAL */

*{
 box-sizing: border-box;
}

body{
    background-color: #F9ECD7;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    overflow-x: hidden;
    }

main{
max-width: 1000px;
min-width: 280px;
width: 60%;
height: 80%;
display: flex;
flex-direction: column;
border: 2px solid #231E1A;
margin: 5%;
overflow-x: hidden;

}

span {
    height: 1rem;
}

#spanrosa{
    background-color: #E69EEC;
}

#spanazul{
    background-color: #12F4F8;
}


/* MOBILE */

@media only screen
  and (min-device-width: 280px) 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 1)
  {
header { 
    width: 100%;
    height: 7rem; 
    background-color: #F7E864;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #231E1A;
}


.emailheader {
    height: 100%;
    display: flex;
    background-color: #F9ECD7;
    width: 20%;
    border-left:2px solid #231E1A;
    justify-content: center;
    align-items: center;
    margin: 0px;  
}

.emailheader:hover{
    background-color: #E69EEC;
}

.emailheader__icon {
    width: 50%;
    align-items: center;
    padding: 5%;
    justify-content: center;
    cursor: pointer;
    }

h1{
    font-family: 'kage';
    font-size: 3em;
    color: #231E1A;
    margin-bottom: 10px;
    font-weight: lighter;
    }

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me #star {
    width: 20px;
    margin-top: 0;
}

p{
    font-weight: 500;
    font-size: 1em;
    line-height:1.4rem;
    color: #231E1A;
    margin-top: 0;

}

p, h2 {
    padding: 20px;
    font-family: 'poppins';
}

h2 {
    font-weight: 700;
    margin-top: -25px;
    line-height: 120%;
    font-size: 1.6rem;
    color: #231E1A;
}

section div #imgaboutme {
padding:5%;    
margin-top: -40px;
text-align: center;
align-items: center;
justify-content: center;
}

#focuses{
background-color: #E69EEC;
border-top: 2px solid #231E1A;
border-bottom: 2px solid #231E1A;
width: 100%;

}

.focuses-imgs {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

.focuses-imgs img{
    width: 40px;
    height: 3rem;
}

.focuses-text{
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
}

.focuses-text p{
    font-family: 'kage';
    text-align: center;
    line-height: 85%;
}

#h2mywork{
    font-family: 'kage';
    font-size: 3em;
    color: #231E1A;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: lighter;
}

.mywork{
    text-align: center;
}

.mywork img{
    width: 80%;
}

button, .button-portfolio {
    background-color: #F9ECD7;
    color: #231E1A;
    border: 2px solid #231E1A;
    border-radius: 40px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    padding: 2%;
    margin-top: 4%;
}

.button-portfolio:hover {
    background-color: #12F4F8;
    border: 2px solid #231E1A;
    color: #231E1A;
}

.footer{
    height:auto;
    display: flex;
    flex-direction: column;
    background-color: #231E1A;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    }

div .contactemailfooter{
    width: 30%;
    margin-bottom: 10%;
    margin-top: 0;
}

.logofooter {
width: 80%;
padding: 20px;
margin-top: 10%;
}

.footer p{
    color: #F9ECD7;
}

#contactfooterdesktop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
}
/* TABLET */

@media only screen 
  and (min-width: 700px) 
  and (max-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 1)
  {
header { 
    width: 100%;
    height: 7rem; 
    background-color: #F7E864;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #231E1A;
}

.logoheader {
    width: 105px;
    height: 79px;
    padding: 5px;
    margin:15px;
    }

.emailheader {
    height: 100%;
    display: flex;
    background-color: #F9ECD7;
    width: 10%;
    border-left:2px solid #231E1A;
    justify-content: center;
    align-items: center;
    margin: 0px;  
}

.emailheader:hover{
    background-color: #E69EEC;
}

.emailheader__icon {
    width: 50%;
    align-items: center;
    padding: 5%;
    justify-content: center;
    cursor: pointer;
    }

h1{
    font-family: 'kage';
    font-size: 3em;
    color: #231E1A;
    font-weight: lighter;
    display: inline;
    margin: 0 2% 0 5%;
     }

.about-me {
    display: inline;
   height: auto;
   margin-top: 30px;
}

.about-me #star {
    width: 20px;
    margin-top: 0;
}

.aboutdesktop{
display: flex;
gap: 10px;
padding:0 0 0 2%;
width: 100%;
align-items: center;
}

#textodesktop {
    padding: 20px;
    font-family: 'poppins';
    width: 180%;
    font-size: 0.8rem;
}

h2 {
    font-weight: 700;
    line-height: 120%;
    font-size: 1rem;
    color: #231E1A;
}

#imgaboutme {
width: 100%;
justify-content: center;
align-items: center;
}

#imgaboutme img {
    width: 100%;
    margin-left:-10px;
    margin-bottom: 20px;
    max-height: 90%;
}

#focuses{
background-color: #E69EEC;
border-top: 2px solid #231E1A;
border-bottom: 2px solid #231E1A;
width: 100%;
}

.focuses-imgs {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 5% 8% 5% 8%;
    
}

.focuses-imgs img{
    width: 100%;
    height: 4rem;
}

.focuses-text{
    flex-direction: row;
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 0 15%;
    color: #231E1A;
    margin-top: -6%;
}

.focuses-text p{
    font-family: 'kage';
    text-align: center;
}

#h2mywork{
    font-family: 'kage';
    font-size: 3em;
    color: #231E1A;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: lighter;
}

.mywork{
    text-align: center;
}

.myworkimages {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.myworkimages img{
    width: 100%;
    padding: 2%;
}

button, .button-portfolio {
    background-color: #F9ECD7;
    color: #231E1A;
    border: 2px solid #231E1A;
    border-radius: 40px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    padding: 2%;
    margin-top: 4%;
}

.button-portfolio:hover {
    background-color: #12F4F8;
    border: 2px solid #231E1A;
    color: #231E1A;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #231E1A;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    height: auto;
    padding: 0 5% 0 5%;
    }

.contactemailfooter{
    width: 50%;
    margin-bottom: 10%;
    margin-top: 0;
}

.logofooter {
width: 100%;
padding: 20px;
align-items: center;
display: flex;
}

.logofooter img{
    width: 300px;
}

.footer p{
    color: #F9ECD7;
    font-family: 'poppins';
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
}

#contactfooterdesktop{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

}

@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 1)
  {
header { 
    width: 100%;
    height: 7rem; 
    background-color: #F7E864;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #231E1A;
}

.logoheader {
    width: 105px;
    height: 79px;
    padding: 5px;
    margin:15px;
    }

.emailheader {
    height: 100%;
    display: flex;
    background-color: #F9ECD7;
    width: 20%;
    border-left:2px solid #231E1A;
    justify-content: center;
    align-items: center;
    margin: 0px;  
}

.emailheader:hover{
    background-color: #E69EEC;
}

.emailheader__icon {
    width: 50%;
    align-items: center;
    padding: 5%;
    justify-content: center;
    cursor: pointer;
    }

h1{
    font-family: 'kage';
    font-size: 3em;
    color: #231E1A;
    margin-bottom: 10px;
    font-weight: lighter;
    }

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me #star {
    width: 20px;
    margin-top: 0;
}

p{
    font-weight: 500;
    font-size: 1em;
    line-height:1.4rem;
    color: #231E1A;
    margin-top: 0;

}

p, h2 {
    padding: 20px;
    font-family: 'poppins';
}

h2 {
    font-weight: 700;
    margin-top: -25px;
    line-height: 120%;
    font-size: 1.6rem;
    color: #231E1A;
}

section div #imgaboutme {
padding:5%;    
margin-top: -40px;
text-align: center;
align-items: center;
justify-content: center;
}

#focuses{
background-color: #E69EEC;
border-top: 2px solid #231E1A;
border-bottom: 2px solid #231E1A;
width: 100%;

}

.focuses-imgs {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

.focuses-imgs img{
    width: 40px;
    height: 3rem;
}

.focuses-text{
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
}

.focuses-text p{
    font-family: 'kage';
    text-align: center;
    line-height: 85%;
}

#h2mywork{
    font-family: 'kage';
    font-size: 3em;
    color: #231E1A;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: lighter;
}

.mywork{
    text-align: center;
}

.mywork img{
    width: 80%;
}

button, .button-portfolio {
    background-color: #F9ECD7;
    color: #231E1A;
    border: 2px solid #231E1A;
    border-radius: 40px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    padding: 2%;
    margin-top: 4%;
}

.button-portfolio:hover {
    background-color: #12F4F8;
    border: 2px solid #231E1A;
    color: #231E1A;
}

.footer{
    height:auto;
    display: flex;
    flex-direction: column;
    background-color: #231E1A;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    }

.contactemailfooter{
    align-items: center;
    width: 40%;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 0;
}

.logofooter {
width: 80%;
padding: 20px;
margin-top: 10%;
}

.footer p{
    color: #F9ECD7;
}

}


@media only screen 
  and (min-device-width: 700px) 
  and (max-device-width: 3000px) 
  {

header { 
    width: 100%;
    height: 7rem; 
    background-color: #F7E864;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid #231E1A;
}

.logoheader {
    width: 105px;
    height: 79px;
    padding: 5px;
    margin:15px;
    }

.emailheader {
    height: 100%;
    display: flex;
    background-color: #F9ECD7;
    width: 10%;
    border-left:2px solid #231E1A;
    justify-content: center;
    align-items: center;
    margin: 0px;  
}

.emailheader:hover{
    background-color: #E69EEC;
}

.emailheader__icon {
    width: 50%;
    align-items: center;
    padding: 5%;
    justify-content: center;
    cursor: pointer;
    }

h1{
    font-family: 'kage';
    font-size: 4em;
    color: #231E1A;
    font-weight: lighter;
    display: inline;
    margin: 2% 2% 0 5%;
     }

.about-me {
    display: inline;
   height: auto;
   margin-top: 30px;
}

.about-me #star {
    width: 20px;
    margin-top: 0;
}

.aboutdesktop{
display: flex;
gap: 10px;
padding:0 0 0 2%;
width: 100%;
align-items: center;
}

#textodesktop {
    padding: 10px;
    font-family: 'poppins';
    width: 180%;
    font-size: 1rem;
    margin-top: -30px;
}

h2 {
    font-weight: 700;
    line-height: 120%;
    font-size: 1.5rem;
    color: #231E1A;
}

#imgaboutme {
width: 100%;
justify-content: center;
align-items: center;
}

#imgaboutme img {
    width: 100%;
    margin-left:-10px;
    margin-bottom: 20px;
    max-height: 90%;
}

#focuses{
background-color: #E69EEC;
border-top: 2px solid #231E1A;
border-bottom: 2px solid #231E1A;
width: 100%;
}

.focuses-imgs {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 5%;
    
}

.focuses-imgs img{
    width: 100%;
    height: 4rem;
}

.focuses-text{
    flex-direction: row;
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 0 15%;
    color: #231E1A;
    margin-top: -6%;
}

.focuses-text p{
    font-family: 'kage';
    text-align: center;
}

#h2mywork{
    font-family: 'kage';
    font-size: 3em;
    color: #231E1A;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: lighter;
}

.mywork{
    text-align: center;
    margin-top: 5%;
}

.myworkimages {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.myworkimages img{
 padding: 2%;
 width: 100%;
}

button, .button-portfolio {
    background-color: #F9ECD7;
    color: #231E1A;
    border: 2px solid #231E1A;
    border-radius: 40px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 0,5rem;
    cursor: pointer;
    padding: 2%;
    margin-top: 4%;
}

.button-portfolio:hover {
    background-color: #12F4F8;
    border: 2px solid #231E1A;
    color: #231E1A;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #231E1A;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 0 5% 0 5%;
    }

.contactemailfooter{
    width: 40%;
    margin-bottom: 10%;
    margin-top: 0;
}

.logofooter {
width: 100%;
padding: 20px;
align-items: center;
display: flex;
}

.logofooter img{
    width: 300px;
}

.footer p{
    color: #F9ECD7;
    font-family: 'poppins';
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
}

#contactfooterdesktop{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 80%;
}

}
